#footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content:end;
  align-items: center;
}

#footer a {
  text-decoration: none;
  text-align: center;
  background-color: #4056a1;
  color: white;
  border: none;
  padding: 16px 0px 0px 0px;
  width: 60px;
  height: 60px;
  font-family: "Bungee", sans-serif;
  border-radius: 50%;
  transition: 0.4s;
  margin-right: 5px;
  position:fixed;
  bottom: 15px;
  opacity: 70%;
  display: none;
}

#footer a:hover {
  background-color: #d4a71e;
  opacity: 100%;
}