#header {
  height: 400px;
  width: 100vw;
  background-color: rgb(92, 67, 82);
  background-image: url("../images/basketball.png");
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

#profile-picture {
  height: 200px;
}
#name-text {
  margin: 10px 0px 15px 0px;
}
