.nav {
  height: 120px;
  width: 100vw;
  background-color: transparent;
  color: #ffffff;
  padding: 0 1.5em 0 1.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0px;
}

.nav h1 {
  font-family: "Bungee", sans-serif;
  font-size: 45px;
}

.nav-items p {
  margin: 0px;
  color: #ffffff;
}

.small-screen-show {
  display: none;
}

.nav-items i {
  padding-top: 10px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav a:hover {
  color: #ff5a08;
}

/* Media queries */

@media only screen and (max-width: 667px) {
  .nav {
    height: 80px;
  }

  .nav h1 {
    font-family: "Bungee", sans-serif;
    font-size: 35px;
  }

  .nav-items p {
    display: none;
  }

  .small-screen-show {
    display: initial;
  }
}

@media only screen and (min-width: 1024px) {
  .nav {
    background-color: #4056a1;
  }
}
