.tweet-form {
  display: flex;
  flex-direction: column;
}

.button-counter-container {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  border-bottom: 3px solid #545149;
  color: #545149;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  background-color: #f7f5f0;
  resize: none;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 20px 0px 0px 0px;
  font-size: 18px;
  font-weight: 600;
}

#tweet-text:focus {
  outline: none;
  overflow: hidden;
}

.counter, .tweet-button {
  font-family: "Bungee", sans-serif;;
}

.tweet-button {
  background-color: #4056a1;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 10px;
  transition: 0.4s;
}

.tweet-button:hover {
  background-color: #d4a71e;
}

#tweet-question{
  font-size: 18px;
}